@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
    display: flex;
    justify-content:center;
  }
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #333333;
  background-color:#ffffff;
  width: 960px;
  text-align: center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* header
------------------------------- */
body {
  padding: 0 4%; /* スマホ向け余白の設定 */
  border: 1px solid black;
  height: 812px;
  
}
#lottery {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 50px;
}
#bingo{
  /* display: flex;
  justify-content:center; */
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  
}
#box {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
#box p {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 0;
}
p {
  align-items: center;
  /* vertical-align: center; */
  line-height: 50px;
}