@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
    display: flex;
    justify-content:center;
  }
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #333333;
  background-color:#ffffff;
  width: 960px;
  text-align: center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* header
------------------------------- */
body {
  padding: 0 4%; /* スマホ向け余白の設定 */
  border: 1px solid black;
}
header {
  margin-bottom:30px;
}
/* #input {
  height: 50px;
  width: 23%;
  text-align: center;
  line-height: 50px;
  background-color: #ffffff;
  border: thick double #32a1ce;
  border-radius: 40%;
  margin: 5px 0 0 0;
} */
a {
  display: block;
}
.menu {
  display: flex;
  padding: 0;
}
.menu li {
  margin:0;
  text-align: center;
  line-height: 50px;
  height:50px;
  width: 20%;
  border-radius: 5px 18px 0 0;
}
#input_menu {
  background-color: lightgray;
  border: 1px solid darkgray;
}
#today_menu {
  background-color: lightgray;
  border: 1px solid darkgray;
}
#todo_menu {
  background-color: lightgray;
  border: 1px solid darkgray;
}
#shop_menu {
  background-color: lightgray;
  border: 1px solid darkgray;
}
#sched_menu {
  background-color: lightgray;
  border: 1px solid darkgray;
}
#save {
  margin: 20px 0 50px 0;
  width: 25%;
  height: 50px;
}
/* #todo {
  text-align: left;
} */
.container {
  padding: 0;
}
#list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

table {
width: 100%;
margin-bottom:500px;
}
td {
  border: #ced4da 1px solid;
  height: 40px;
  line-height: 40px;
}
#td1 {
  width: 20%;
}
#td2 {
  width: 60%;
}
/* button {
  display: block;
} */
